@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: black;
    width: 100%;
    height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #888888;
    padding: 10px 20px;
}

.logo-h1 {
    font-size: 80px;
    color: white;
    font-family: "Lobster Two", sans-serif;
}

.logo-h1 span {
    font-family: "Lobster Two", sans-serif;
}

.search {
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 10px;
}

.search input {
    padding: 10px 20px;
    width: 100%;
    border-radius: 50px;
    outline: none;
    border: 1px solid #888888;
    background-color: #333;
}

.search button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #e30505;
    color: white;
    cursor: pointer;
    transition: 0.35s;
}

.search button:hover {
    background-color: #ff0000;
    transform: translateY(-5px);
    
}

.grid-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.grid-section h1 {
    color: red;
    font-size: 40px;
}
.grid-section button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #e30505;
    color: white;
    cursor:pointer;
    transition: 0.35s;
}
.grid-section button:hover {
    background-color: #ff0000;
    transform: translateY(-5px);
    
}

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0px 40px;
}
.video-card {
    background-color: #333;
    padding: 30px 50px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    transition: .35s;
    color: white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
}
.video-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.8);
}

.card-content h2 {
    font-size: 20px;
    margin-bottom: 24px;
    color: white;
    padding: 15px 70px;
}

.stars {
    display: flex;
    font-size: 20px;
    color: #ffcc00;
    margin-bottom: 15px;
    line-height: 1.8;
    justify-content: space-between;
}
.stars p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.8;
}
.stars button {
    padding: 6px 6px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    background-color: #e30505;
    color: white;
    cursor: pointer;
    transition: 0.35s;
}
.stars button:hover {
    background-color: #ff0000;
    transform: translateY(-5px);
}
.video-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.video-stats p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.8;    
}
.body-image {
    animation:float 4s ease-in-out infinite;
    justify-content: center;
    display: flex;
}

@keyframes float{

10%{transform:translateY(0);}

50%{transform:translateY(-50px);}

100%{transform:translateY(0);}

}



@media (max-width:500px) {
    header {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .logo-h1 {
    font-size: 40px;
    }
    .search {
        width: 100%;
    }

    .video-container {
    grid-template-columns: 1fr;
    }
}

@media (min-width:501px) and (max-width: 900) {
    .video-container {
    grid-template-columns: 1fr 1fr 1fr;
    }
}